/* Reset some basic elements */
body,
h1,
h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex; */
    /* justify-content: flex-end;
    align-items: flex-end; */
    /* min-height: 100vh; */
    /* font-family: Arial, sans-serif;
    line-height: 1.6; */
    background-color: #333;
    /* padding: 20px; */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 100hv; */
    background: #333;
    color: #fff;
    /* margin-top: -20px; */
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container-sticky {
    position: relative;
    width: 100%;
}

.banner {
    /* padding-top: 15%; */
    position: sticky;
    top: 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("sky-6811874_1920.jpg");

    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width:600px) {
        padding-top: 15%;
        position: sticky;
        top: 0;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url("sky-6811874_1920.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.quote {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    /* background: #000; */

}



main {
    /* margin: 20px 0; */
}


.title-p {
    position: relative;
    font-family: sans-serif;
    /* text-transform: uppercase; */
    font-size: 70px;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 75%;
    animation: animate-title 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, .1);
}

@keyframes animate-title {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}



.bg1 {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("cosmos-1866820_1920.jpg");
    /* background: #000; */
}

/* About section styling */
.about-container {
    display: flex;
    width: 100%;
    height: 300px;
    margin: 0px 20px 0px 20px;
    /* align-items: flex-start; */
    /* font-size: 30px; */
}

.about-container p {
    text-align: left;
    font-size: 30px;
    color: #fff;
    margin-top: -10px;

    @media (max-width:600px) {
        font-size: 10px;
    }
}

.about-container h3 {
    font-size: 40px;
    color: #fff;
    margin-top: -10px;

    @media (max-width:600px) {
        font-size: 20px;
    }
}

.about-img {
    text-align: right;
    max-width: 400px;
    aspect-ratio: 16/9;
    margin-right: 20px;

    @media (max-width:600px) {
        text-align: right;
        width: 80;
        height: 100px;
        aspect-ratio: 16/9;
        margin-right: 20px;
    }
}

.bg2 {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width: 100%; */
    height: 100vh;
    /* background: yellow; */
    background: url("landscape-1192669_1920.jpg");
}

#about {
    margin: 250px 20px 0px 20px;
    background: #fff;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 40vh;
    border-radius: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container div {
    /* border: 1px solid rgb(202, 201, 201); */
    padding: 10px;
    margin: 20px;
    /* width: 100%; */
    /* height: 200px; */
    font-size: 30px;
    text-align: center;

    @media (max-width:600px) {
        font-size: 10px;
        text-align: center;
    }
}

.box-1 {
    flex: 1;
}

.box-2 {
    flex: 1;
}

.box-3 {
    flex: 1;
}


footer {
    background: #3586ff;
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 3em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1100px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 1000;
    opacity: 0.5;
    bottom: 0;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 1000;
    opacity: 0.7;
    bottom: 0;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}